main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.heading{
    font-size: larger;
    font-weight: 650;
    display: flex;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}